@charset "UTF-8";
@import "reset.css";

html {
  font-size: 10px
}
.cormo {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

body {
  background-color: #080702;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.clearfix::after {
  content: '';  
  display: block;  
  clear: both;
}

.noise {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-image: url('../images/noise.gif');
  background-position: 0 0;
  background-size: auto;
  pointer-events: none;
  opacity: 0.04;
  transition: opacity .2s cubic-bezier(.445, .05, .55, .95); 
  visibility: visible;
}

.point_color {
  color: #bfff07;
}

/*** header ***/
#header {
  height: 11.4vh;
  padding: 0 2vw;
}

.hd_box_wrap {
  height: 4.4vh;
  line-height: 4.4vh;
  width: 12.3vw;
  overflow: hidden;
  position: relative;
  border: 1px solid #fff;
  border-radius: 50px;
  top: 3.3vh;
  animation: fade-in 3s;
}

.hd_box_wrap .hd_box {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: hd_box_wrap 5s linear infinite;
  
}

@keyframes hd_box_wrap {
  0% { left: 0; }
  100% { left: -100%; }
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hd_box_wrap .hd_box p {
  display: inline-block;
  float: left;
  color: #fff;
  font-size: 1.8rem;
}

.hd_box_wrap .hd_box p .dot {
  width: 6px;
  height: 6px;
  background-color: #bfff07;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  top: -2px;
  margin: 0 8px;
}

#nav {
  position: absolute;
  right: 2vw;
  top: 4.3vh;
  animation: fade-in 5s;
}

#nav li {
  float: left;
}

#nav li a {
  color: #fff;
  margin: 0 20px;
  font-size: 2.4rem;
}


/*** visual ***/

#visual {
  height: 100vh;
  width: 100%;
}

.mtxt_wrap {
  position: relative;
  height: 100vh;
  /* min-width: 100vw;
  max-width: 100vw; */
  overflow: hidden;
}

#visual .mtxt {
  top: 44%;
  left: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  position: absolute;
  letter-spacing: -0.05em;
}

#visual .mtxt div {
  line-height: .9;
}

#visual .mtxt h2 {
  display: inline-block;
  font-size: 16rem;
  font-weight: 300;
  /* letter-spacing: -0.025em;  */
}

#visual .mtxt h2.cormo {
  font-size: 17rem;
}

#visual .mtxt .point_box {
  width: 24vw;
  background-color: #bfff07;
  color: #000;
  padding: 4vh 0;
  border-radius: 60px;
  vertical-align: text-bottom;
}

#visual .mtxt p {
  display: inline-block;
  font-size: 4rem;
}

.mtxt_01 {animation: ani_01 5s;}
.mtxt_02 {transform: translate(11vw, 0px); animation: ani_02 6s; }
.mtxt_03 {transform: translate(-19vw, 0px); animation: ani_03 7s;}
.mtxt_04 {animation: ani_04 8s;}

@keyframes ani_01 {
  from {
    transform: translate(-200vw);
    /* filter: blur(6px); */
    opacity: 0;
  }
  to {
    transform: translate(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes ani_02 {
  from {
    transform: translate(200vw);
    /* filter: blur(6px); */
    opacity: 0;
  }
  to {
    transform: translate(11vw);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes ani_03 {
  from {
    transform: translate(-200vw);
    /* filter: blur(6px); */
    opacity: 0;
  }
  to {
    transform: translate(-19vw);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes ani_04 {
  from {
    transform: translate(200vw);
    /* filter: blur(6px); */
    opacity: 0;
  }
  to {
    transform: translate(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes rotatetxt {
  100% {
    transform: rotate(360deg);
  }
}

.mtxt_03 h2 {
  position: relative;
}

.mtxt_03 p {
  position: absolute;
  /* left: 0; */
  top: -28px;
}

.mtxt_04 h2 {
  position: relative;
}

.mtxt_04 p {
  position: absolute;
  right: 0;
  top: -30px;
}

.mtxt_04 img {
  vertical-align: middle;
  margin-right: 20px;
  width: 7vw;
  animation: rotatetxt 6s linear infinite;
}


/*** scroll_flow ***/

#scroll_flow .flow_wrap div {
  float: left;
  color: #fff;
  font-size: 6rem;
  font-weight: 200;
  /* margin: 0 20px; */
}

#scroll_flow {
  height: 13vh;
  line-height: 13vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#scroll_flow .flow_wrap {
  display: block;
  width: 300%;
  position: absolute;
  overflow: hidden;
  /* padding: 34px 0; */
  animation: scroll_flow 10s linear infinite;
}

#scroll_flow .flow_wrap img {
  margin: 0 1vw;
  width: 1.8vw;
}

@keyframes scroll_flow {
  0% { left: 0; }
  100% { left: -100%; }
}


/*** work ***/

#work {
  margin: 20vh 0;
  padding: 0 2vw;
  
}

#work .work_tit {
  margin-bottom: 60px;
}

#work .work_tit div {
  line-height: .9;
}

#work .work_tit h2 {
  font-size: 21rem;
  font-weight: 300;
  color: #fff;
}

#work .work_tit .tit_01 {
  position: relative;
}

#work .work_tit .tit_01 h2 {
  color: #bfff07;
}

#work .work_tit .tit_01 span {
  position: absolute;
  top: 1.3vw;
  margin-left: 1vw;
}

#work .work_tit .tit_02 {
  position: relative;
  margin-left: 18vw;
}


#work .work_tit .tit_02 img {
  position: absolute;
  top: 24px;
  right: 1vw;
  width: 7vw;
  animation-name: arr_ico_1;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-fill-mode: forwards;
}

@keyframes arr_ico_1{
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0%, 10%);
  }
}

#work .work_tit .num {
  font-size: 7rem;
  color: #fff;
}

#work .work_tit .desc {
  position: absolute;
  top: 1vw;
  left: 28vw;
  font-size: 2.6rem;
  color: #7e7e7e;
  position: absolute;
  line-height: 1.2;
}

#work .work_tit p span {
  color: #fff;
}

.work_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.work_list li {
  margin-bottom: 80px;
}

.js-load {
  display: none;
}

.work_list .img_box {
  display: block;
  position: relative;
  padding-bottom: 44%;
  border-radius: 10px;
  overflow: hidden;
  min-height: 185px;
}

.work_list .img_box:hover img {
  transform: scale(1.1);
  opacity: 1;
}

.work_list .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  transition: transform 0.3s ease-in-out;
  /* opacity: 0.8; */
}

.work_list .img_box span {
  background-color: #000;
  font-size: 2rem;
  color: #fff;
  padding: 12px 18px;
  border-radius: 50px;
  position: absolute;
}

.work_list .img_box .type { top: 20px; left: 20px }
.work_list .img_box .year { top: 20px; right: 20px }

.work_list p {
  font-size: 4rem;
  color: #fff;
  padding: 2.5vw 1vw 0;
}

.more_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.more_btn .moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, 0);
}

/*** footer ***/
#footer {
  border-top: 1px solid #fff;
  
}

#footer .wrap {
  margin: 15vh 0 4vh;
  padding: 0 2vw;
}


#footer .tit {
  /* margin-bottom: 60px; */
}

#footer .tit div {
  line-height: .9;
}

#footer .tit h2 {
  font-size: 17rem;
  font-weight: 300;
}

#footer .tit, #footer .tit_01 span {
  color: #fff;
}

#footer .tit h2.cormo {
  font-size: 18rem;
  position: relative;
}

#footer .tit h2 span {
  font-size: 4rem;
  position: absolute;
  right: 0;
  top: 1vw;
}

#footer .tit h2 img {
  margin-left: 20px;
  width: 7vw;
  animation-name: arr_ico_2;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
  animation-fill-mode: forwards;
}

@keyframes arr_ico_2{
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0%, 10%);
  }
}

#footer .contact {
  text-align: right;
  margin: 80px 0 137px;
}

#footer .contact p {
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.2em;
  padding: 4px 0;
}

#footer .contact p a {
  color: #fff;
}

#footer .copy {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#footer .copy p {
  font-size: 2.4rem;
  font-weight: 300;
  color: #fff;
}

#footer .copy p span {
  font-size: 2.4rem;
  vertical-align: bottom;
}


/****** sub page ******/

.sub_wrap {
  margin: 0 8.3vw ; 
}

#sub_vis .sub_mtxt {
  color: #fff;
  padding: 20vh 0;
}

#sub_vis .sub_mtxt h2 {
  font-size: 4rem;
  text-transform: uppercase;
}

#sub_vis .sub_mtxt h1 {
  font-weight: 300;
  font-size: 14rem;
  margin: 6vh 0 4vh 0;
}

#sub_vis .sub_mtxt p {
  font-weight: 300;
  font-size: 5rem;
  color: #bfff07;
}

.sub_vis_bg {
  width: 100%;
  height: 890px;
  background: url(../sub/images/work01_vis.jpg) no-repeat center / cover;
  background-attachment: fixed;
  background-color: #eee;
}

#sub_desc {
  margin: 20vh 0;
}

#sub_desc .row {
  display: flex;
  align-items: flex-start;
  gap: 10rem;  
}

#sub_desc .row dt {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.4vh;
}

#sub_desc .row dd {
  font-size: 1.8rem;
  color: #b1b1b1;
  line-height: 1.4;
}

#sub_desc .row dd a {
  color: #b1b1b1;
}

#sub_desc .row p {
  font-size: 1.8rem;
  color: #b1b1b1;
  line-height: 1.4;
}

#sub_img01 {
  /* width: 100%; */
  padding: 12vh 10vw;
  background-color: #358696;
}
#sub_img01 img {
  max-width: 100%;
}

#sub_img02 img {
  width: 100%;
}

#work_nav {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin-top: 5vh;
  border-top: 1px solid #cecece;
}

#work_nav .work_nav_prev {
  border-right: 1px solid #cecece;
}

#work_nav>a {
  display: table-cell;
  width: 50%;
  height: 500px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-align: center;
  background-size: 100% auto;
  -webkit-transition: 300ms;
  transition: 300ms;
}

#work_nav>a .bg_wrap {
  display: block;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transition: 300ms;
  transition: 300ms;
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 0;
}

/* work_nav */
.sub01 .work_nav_prev .bg_wrap { background: url(../images/work_thum_05.jpg) }
.sub01 .work_nav_next .bg_wrap { background: url(../images/work_thum_02.jpg) }

#work_nav>a:hover .bg_wrap {
  transform: scale(1.3);
  opacity: 1;
}

#work_nav>a .bg_color {
  display: block;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0,0,0, 0.6);
  -webkit-transition: 500ms;
  transition: 500ms;
}

#work_nav>a:hover .bg_color {
  background:rgba(0, 0, 0, .8)
}

#work_nav>a .work_nav_info {
  position: relative;
  z-index: 100;
  padding-top: 7vh;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#work_nav>a:hover .work_nav_info {
  padding-top:0;
  
}

#work_nav>a .work_nav_info h3 {
  position: relative;
  width: auto;
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 5px;
}

#work_nav>a:hover .work_nav_info h3 {
  color: #bfff07;
}

#work_nav>a:hover .work_nav_info h3:after {
  display: block;
}

#work_nav>a .work_nav_info p {
  font-size: 3rem;
  color:#fff;
  font-weight: 300;
  margin-top: 16px;
  opacity: 0;
  -webkit-transition: all 1s ease-out;
  transition: all 0.5s ease-out;
}
#work_nav>a:hover .work_nav_info p {
  opacity: 1;
}



@media all and (max-width:1440px) {
  #visual .mtxt h2.cormo, #visual .mtxt h2 {
    font-size: 14rem;
  }
  #visual .mtxt p {
    font-size: 3rem;
  }

  #scroll_flow .flow_wrap div {
    font-size: 4rem;
  }

  #work .work_tit h2 {
    font-size: 16rem;
  }

  #work .work_tit .desc {
    left: 32vw;
  }

  #scroll_flow {
    height: 12vh;
    line-height: 12vh;
  }

  #footer .tit h2, #footer .tit h2.cormo {
    font-size: 16rem;
  }

  #footer .tit h2 span, #footer .contact p {
    font-size: 3rem;
  }
}

@media all and (max-width:1280px) {

  .hd_box_wrap {
    width: 18vw;
  }
  #visual .mtxt h2.cormo, #visual .mtxt h2 {
    font-size: 11rem;
  }

  #visual .mtxt .point_box {
    padding: 2vh 0;
  }
  #visual .mtxt p {
    font-size: 2.8rem;
  }

  #work .work_tit h2 {
    font-size: 14rem;
  }

  #work .work_tit .desc {
    font-size: 2.2rem;
  }

  .work_list .img_box span {
    font-size: 1.6rem;
  }

  .work_list p {
    font-size: 3rem;
  }

  #work {
    margin: 15vh 0;
  }

  .more_btn .moreBtn {
    width: 200px;
    height: 200px;
    font-size: 3.2rem;
  }

  #footer .tit h2, #footer .tit h2.cormo {
    font-size: 14rem;
  }


  /* sub page */

  .sub_wrap {
    margin: 0 5.3vw;
  }

  #sub_vis .sub_mtxt {
    padding: 14vh 0;
  }

  #sub_vis .sub_mtxt h2 {
    font-size: 3.6rem;
  }

  #sub_vis .sub_mtxt h1 {
    font-size: 12rem;
  }

  #sub_vis .sub_mtxt p {
    font-size: 4.2rem;
  }

  .sub_vis_bg {
    height: 640px;
  }

  #sub_desc {
    margin: 12vh 0;
  }

  #sub_desc .row {
    gap: 8rem;
  }

  #work_nav>a, #work_nav>a .bg_wrap, #work_nav>a .bg_color {
    height: 400px;
  }

  #work_nav>a .work_nav_info h3 {
    font-size: 4.6rem;
  }

  #work_nav>a .work_nav_info p {
    font-size: 2.2rem;
  }

  


}



/****** 태블릿 가로 : 769px-1023px *******/
@media all and (min-width:768px) and (max-width:1024px){

}


@media all and (max-width:1024px) {
  #header {
    height: 7.4vh;
  }

  #nav {
    top: 2.6vh;
  }

  .hd_box_wrap {
    width: 16vw;
    height: 3.8vh;
    line-height: 3.8vh;
    top: 2vh;
  }
  

  .hd_box_wrap .hd_box p {
    font-size: 1.6rem;
  }

  #nav li a {
    font-size: 2.2rem;
  }

  .sub_wrap {
    margin: 0 7.6vw;
  }

  #visual, .mtxt_wrap {
    height: 60vh;
  }

  #visual .mtxt p {
    font-size: 2.2rem;
  }
  #visual .mtxt .point_box {
    padding: 1.6vh 0;
  }

  #visual .mtxt h2.cormo, #visual .mtxt h2 {
    font-size: 10rem;
  }

  #scroll_flow {
    height: 6vh;
    line-height: 6vh;
  }

  #scroll_flow .flow_wrap div {
    font-size: 3rem;
  }

  #work {
    margin: 10vh 0;
  }

  #work .work_tit h2 {
    font-size: 11rem;
  }

  #work .work_tit .tit_02 {
    margin-left: 12vw;
  }

  #work .work_tit .num {
    font-size: 2.2rem;
  }

  #work .work_tit .desc {
    font-size: 1.8rem;
    left: 29vw;
  }

  .work_list li {
    margin-bottom: 3vh;
  }

  .work_list .img_box {
    min-height: 14vh;
  }

  .work_list p {
    font-size: 2.4rem;
  }

  .more_btn .moreBtn {
    width: 16vw;
    height: 16vw;
    font-size: 2.4rem;
  }

  #footer .wrap {
    margin: 6vh 0 3vh;
  }

  #footer .tit h2, #footer .tit h2.cormo {
    font-size: 10rem;
  }

  #footer .tit h2 span, #footer .contact p {
    font-size: 2.4rem;
  }

  #footer .contact {
    margin: 4vh 0 8vh;
  }

  #footer .copy p {
    font-size: 1.8rem;
  }


  /* sub page */

  .sub_vis_bg {
    background-attachment: scroll;
  }

  #sub_vis .sub_mtxt h1 {
    font-size: 10rem;
  }

  #sub_vis .sub_mtxt h2 {
    font-size: 3.2rem;
  }

  #sub_vis .sub_mtxt h1 {
    font-size: 10rem;
    margin: 5vh 0 3.8vh 0;
  }

  #sub_vis .sub_mtxt p {
    font-size: 3.8rem;
  }

  #sub_desc .row {
    gap: 5.4rem;
    flex-wrap: wrap;
  }

  #work_nav>a, #work_nav>a .bg_wrap, #work_nav>a .bg_color {
    height: 340px;
  }

  #work_nav>a .work_nav_info {
    padding-top: 4vh;
  }
  #work_nav>a .work_nav_info h3 {
    font-size: 3.8rem;
  }

  #work_nav>a .work_nav_info p {
    margin-top: 10px;
  }
  #work_nav>a .work_nav_info p {
    font-size: 2rem;
  }

}

@media all and (max-width:960px){
  
  #work .work_tit .desc {
    left: 32vw;
  }

}


/*태블릿*/
@media all and (max-width:767px){
  
  .hd_box_wrap {
    width: 18vw;
  }

  .hd_box_wrap .hd_box p .dot {
    width: 4px;
    height: 4px;
  }

  #nav li a {
    font-size: 2rem;
  }

  #nav li a {
    color: #fff;
    margin: 0 1.5vw;
  }

  #visual, .mtxt_wrap {
    height: 60vh;
  }

  #visual .mtxt .point_box {
    padding: 1.6vh 0;
  }

  #scroll_flow {
    height: 8vh;
    line-height: 8vh;
  }

  #scroll_flow .flow_wrap div {
    font-size: 2.4rem;
  }

  #work {
    margin: 12vh 0;
  }
  
  #visual .mtxt h2.cormo, #visual .mtxt h2 {
    font-size: 7rem;
  }

  #visual .mtxt .point_box {
    width: 30vw;
  }
  #work .work_tit h2 {
    font-size: 9rem;
  }

  #work .work_tit .tit_02 {
    margin-left: 12vw;
  }

  #work .work_tit .desc {
    display: none;
  }

  .work_list .img_box {
    min-height: 12vh;
  }

  .work_list .img_box .type {
    top: 1.5vw;
    left: 1.5vw;
  }

  .work_list .img_box .year{
    top: 1.5vw;
    right: 1.5vw;
  }

  .work_list .img_box span {
    padding: 10px 14px;
  }

  .more_btn .moreBtn {
    font-size: 2.2rem;
  }

  #footer .wrap {
    margin: 6vh 0 2vh;
  }

  #footer .tit h2, #footer .tit h2.cormo {
    font-size: 7rem;
  }

  #footer .contact {
    margin: 6vh 0 8vh;
  }

  /* sub page */

  #sub_vis .sub_mtxt h2 {
    font-size: 2.4rem;
  }

  #sub_vis .sub_mtxt h1 {
    font-size: 7rem;
    margin: 4vh 0 3.2vh 0;
  
  }

  #sub_vis .sub_mtxt p {
    font-size: 3.2rem;
  }

  .sub_vis_bg {
    height: 480px;
  }

  #sub_desc {
    margin: 10vh 0;
  }

  #sub_desc .row {
    gap: 4rem;
  }

  #sub_desc .row dt, #sub_desc .row dd, #sub_desc .row p {
    font-size: 1.6rem;
  }

  #work_nav>a, #work_nav>a .bg_wrap, #work_nav>a .bg_color {
    height: 300px;
  }

    #work_nav>a .work_nav_info h3 {
      font-size: 3.2rem;
  }

    #work_nav>a .work_nav_info p {
      font-size: 1.6rem;
  }
  
}

/*** 모바일 ***/
@media all and (max-width:576px){

  .hd_box_wrap {
    width: 22vw;
  }
  .hd_box_wrap .hd_box p {
    font-size: 1.2rem;
  }

  #nav li a {
    font-size: 1.6rem;
    margin: 0px 10px;
  }

  #visual .mtxt h2.cormo, #visual .mtxt h2 {
    font-size: 4.6rem;
  }

  #visual .mtxt p {
    font-size: 1.6rem;
  }

  #visual .mtxt .point_box {
    width: 33vw;
    padding: 1.4vh 0;
  }

  .mtxt_04 img {
    margin-right: 2vw;
  }

  #scroll_flow {
    height: 7vh;
    line-height: 7vh;
  }

  #scroll_flow .flow_wrap img {
    margin: 0 2vw;
    width: 2.8vw;
  }

  #work {
    padding: 0 4vw;
  }

  #work .work_tit h2 {
    font-size: 8rem;
  }

  #work .work_tit {
    margin-bottom: 3vh;
  }

  #work .work_tit .tit_02 {
    margin-left: 18vw;
  }

  #work .work_tit .desc {
    display: none;
  }

  .work_list {
    display: block;
  }

  .work_list li {
    margin-bottom: 6vh;
  }

  .work_list .img_box span {
    font-size: 1.4rem;
  }

  .work_list p {
    padding: 4vw 2vw 0;
  }

  #work .work_tit .tit_02 img {
      top: 5px;
      width: 12vw;
  }

  .more_btn .moreBtn {
    width: 24vw;
    height: 24vw;
  }

  #footer .wrap {
    margin: 5vh 0 2vh;
    padding: 0 4vw;
  }

  #footer .tit h2, #footer .tit h2.cormo {
    font-size: 5.8rem;
  }

  #footer .tit h2 span, #footer .contact p {
    font-size: 1.8rem;
  }

  #footer .tit h2 span {
      top: -4vw;
  }

  #footer .tit h2 img {
    margin-top: 5px;
    width: 12vw;
  }


  #footer .contact {
    margin: 4vh 0 6vh;
  }

  #footer .copy p {
    font-size: 1.4rem;
  }

  /* sub page */

  #sub_vis .sub_mtxt p {
    font-size: 2.8rem;
  }
  #work_nav>a {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
  }

  #work_nav .work_nav_prev {
    border-bottom: 1px solid #cecece;
  }

  #work_nav>a, #work_nav>a .bg_wrap, #work_nav>a .bg_color {
    height: 220px;
  }

  #work_nav>a .work_nav_info h3 {
    font-size: 2.8rem;
  }



}
